<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-3m6e{background-color:#ffffff;border-color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-oe15" rowspan="2"><img src="../static/circle-cropped.png" alt="Profile Photo Here" width="200"
                                             height="200"></th>
    <th class="tg-3m6e" rowspan="2"><p><h1>Arda Gürel</h1></p> <p><h1>Arda Gürel</h1></p><h3>M.Sc. Molecular Bioengineer</h3> </th>
  </tr>
  <tr>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-oe15" colspan="2">Geneticist, Photographer, Aspiring Data Scientist.</td>
  </tr>
  <tr>
    <td class="tg-oe15" colspan="2">urrently working in Düzen Laboratories Group as <a
                href="https://www.duzen.com.tr/tr/hizmet-alanlarimiz/132/klinik-arastirmalar-ve-projeler">
            Clinical coordinator</a></td>
  </tr>
</tbody>
</table>